html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}
.navbar{
	display: flex;
	width: 100%;
	justify-content: space-between;
	 
}

.container{
	display: flex;
	justify-content: center;
	background-color: #F1F3Fa;
	height: 100%
	
}

.blurb-wrapper{
	flex:1;
	text-align: center;
	
}
.icon-wrapper{
	flex:1;
	text-align: center;
	
	
}


.title, .nav-link{
	text-transform: uppercase;
	color: #303137;
}
.title{
	font-size: 25px;
}
.toy{
	color: #66B6D3;
}
.dogname{
	font-size: 10px;
}
.instruction{
	background-color: #F1F3Fa;
	padding: 20rem 10rem;
}
.main_display{
	display: flex;
	width: 100%;
	justify-content: space-between;
	 

}
.item-1 {
	flex: 1;
	order: 1;
	margin: auto;
    padding: 10px;
}

.item-2 {
	flex: 1;
	order: 2;
}
.link{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.link .nav-link{
	text-decoration: none;
	padding-left: 20px;
	font-size: 20px;
}