* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
html, body {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Comic Sans MS", "Comic Sans", arial, helvetica, tahoma, verdana, cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
    background-color: #E6E6FA;
    
}
.navbar{
	display: flex;
	width: 100%;
	justify-content: space-between;
	 
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #7c34db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 40%;
  /*margin: 300px;*/
}
.instruction{
	/*background-color: #FFF3Fa;*/
	position: absolute;
	transform: translate(-50%, -50%);
	bottom: -10%;
	left: 50%;
	text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container{
	display: flex;
	justify-content: center;
	background-color: #FFF3Fa;
	height: 100%
	
}

.blurb-wrapper{
	font-family: 'Press Start 2P', sans-serif;
	flex:1;
	text-align: center;
	
}
.icon-wrapper{
	flex:1;
	text-align: center;
	
	
}


.title, .nav-link{
	text-transform: uppercase;
	color: #303137;
}
.title{
	font-size: 25px;
}
.toy{
	color: #66B6D3;
}
.dogname{
	font-size: 10px;
}
/*.instruction{
	background-color: #F1F3Fa;
	padding: 20rem 10rem;
}*/
.main_display{
	display: flex;
	width: 100%;
	justify-content: space-between;
	 

}
.item-1 {
	/*flex: 1;
	order: 1;
	margin: auto;
    padding: 10px;*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.item-2 {
	flex: 1;
	order: 2;
}
.link{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.link .nav-link{
	text-decoration: none;
	padding-left: 20px;
	font-size: 20px;
}
.hidden {
	display: none;
}